.homepage {
  background: linear-gradient(
    157deg,
    rgba(255, 255, 255, 1) 8%,
    rgba(114, 104, 249, 1) 99%
  );
  height: 100vh;
}

.logo {
  margin-top: 10rem;
}

.homepage-logo {
  clip-path: circle();
}

.collage .row img {
  min-height: 100%;
  border: 1px solid #555;
  box-shadow: 1px 10px 17px -4px #555;
  opacity: 0.8;
  transition: all 0.5s ease-in-out;
}

.collage .row img:hover {
  border: 1px solid #000;
  box-shadow: 1px 0 17px -4px #555;
  opacity: 1;
}

.survey-text {
  padding: 50px;
  top: 40%;
  left: 45%;
}

.health-gif {
  top: 10%;
}

.career-gif {
  left: 25%;
  top: 40%;
}

.travel-gif {
  right: 18%;
  top: 40%;
}

.money-gif {
  bottom: 10%;
  left: 50%;
}
