.welcome {
  background: linear-gradient(
    157deg,
    rgba(255, 255, 255, 1) 8%,
    rgba(114, 104, 249, 1) 99%
  );
  min-height: 100vh;
}

.welcome-heading {
  margin-top: 15rem;
  font-size: 4rem;
}

.welcome-logo {
  width: 18rem;
}

.welcome-logo img {
  object-position: 0 -0.8rem;
  width: 15rem;
  height: 15rem;
}

.btn-welcome {
  width: 20rem;
}

.btn-container {
  margin-top: 10rem;
}

.btn-text {
  font-size: 2rem;
}

.collage .row img {
  min-height: 100%;
  border: 1px solid #555;
  box-shadow: 1px 1rem 1.7rem -4px #555;
  opacity: 0.8;
  transition: all 0.5s ease-in-out;
}

.collage .row img:hover {
  border: 1px solid #000;
  box-shadow: 1px 0 1.7rem -4px #555;
  opacity: 1;
}

.survey-text {
  padding: 5rem;
  top: 40%;
  left: 45%;
  font-size: 1.6rem;
}

.health-gif {
  top: 10%;
  right: 42%;
}

.career-gif {
  left: 29%;
  top: 60%;
}

.travel-gif {
  right: 20%;
  top: 40%;
}

.money-gif {
  bottom: 10%;
  right: 42%;
}

.happy-gif {
  left: 29%;
  top: 22%;
}

.flip-card {
  width: 10rem;
  height: 10rem;
  perspective: 100rem;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: white;
  color: #000;
  transform: rotateY(180deg);
  font-size: 2rem;
  font-weight: bold;
}

.flip-card-text {
  margin-top: 3.5rem;
}

.flip-card-icon {
  width: 10rem;
  height: 10rem;
}

.category-heading {
  font-family: "Poppins";
  font-size: 4rem;
  margin: 4.8rem 0 6.6rem 0;
}

.question-heading {
  font-size: 3.2rem;
}

.survey-page {
  background-size: cover;
  background-position: center;
  width: 100%;  
  height: 100vh;
}

@media (max-width: 576px) {
  .btn {
    width: 30rem;
  }

  .welcome-heading {
    font-size: 3rem;
  }
}

@media (max-width: 768px) {
  .btn-container {
    gap: 2rem;
    width: 100%;
  }
}
