@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

html {
  font-size: 62.5% !important;
}

body {
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  font-family: "Roboto", "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fef7ff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.progress {
  height: 1.6rem;
}

.step-info {
  position: relative;
  padding-right: 20px;
}
.checked-mark::before {
  content: "✓";
  position: absolute;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  color: #fff;
  font-size: 26px;
  right: 0;
  transform: translate(-50%,-50%);
}